.ui-layout-unit {
    border: 0;
}

.ui-panelgrid td {
    border: 0;
    padding: 5px;
}

.newsPanel {
    min-width:100px;
    min-height:100px;
}

.adminMenu {
    width:250px;
}

.browseTable {
    width:600px;
    min-height:200px;
}

.addEmployeePanel {
   min-width:450px;
   min-height:510px;
}

.contentPanel {
    height: 800px;
}

